.about-Wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #0f0232;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-Containor{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}
.about-Upper-section{
    line-height: 1.7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AboWrapper{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.About-sub-title{
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    margin-bottom: 13px;
    margin: 0;
    align-self: center;
    background-color: #ffb200;
    border-radius: 8px;
    padding: 5px 50px;
}

.About-title{
    color: white;
    font-size: 60px;
    margin: 0;
    text-align: center;
}

.about-Upper-section p {
    margin-top: 10px;
    font-size: 18px;
    color: #f1f3ff;
    margin: 0;
    text-align: center;
}
.about-right{
    flex: 1;
}




@media (max-width: 1385px) {
    .about-left{
        padding: 5px;
    }
    .About-title{
        font-size: 40px;
    }
    .about-Upper-section p {
        margin-top: 7px;
        font-size: 1.1em;
    }
  }